edge-tts
openai-whisper
faster-whisper
soundfile 
librosa
langchain
langchain-community 
fastapi
uvicorn
langchain-google-genai
python-dotenv
tf-keras
pydantic
langgraph
python-multipart
langsmith
tavily-python
faiss-cpu
ffmpeg-python 
imageio-ffmpeg
aiofiles
numpy
uvicorn[standard]